__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypotheses
node_modules/
frontend/node_modules/
frontend/build/
*.db
*.sqlite3
admin/db/
admin_settings.json
.env
.DS_Store
